.addPostFormContainer {
    padding: 1rem; 
    width: 600px;
}

.titleForm {
    align-self: center;
}

.titleForm h2 {
    margin: 1rem 0;
    color: #e9a01a;;
    font-weight: bold;
    font-size: 2rem;
}

.addPostFormContainer form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.addPostFormContainer form input, 
.addPostFormContainer form textarea {
    font-family: 'Kodchasan';
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1rem; 
    width: 100%;
    border: 1px solid #e9a01a;;
}

.addPostFormContainer form input:focus, 
.addPostFormContainer form textarea:focus {
    border: 3px solid #e9a01a;
}
.addPostFormContainer form textarea {
    height: 150px; 
    resize: none;
}

.addItemStyle {
    display: flex;
    padding-bottom: 0.3rem;
}

.addItemButtonStyle{
    width: 20%;
    height: 100%;
    padding: 0.3rem;
    margin-right: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 0.5rem;
    border: 0;
    background-color:  #e9a01a;
    color: #3e2723;
}

.addPostFormContainer form .publish{
    font-family: 'Kodchasan';
    border: 0;
    border-radius: 1rem;
    padding: 0.5rem;
    width: 10rem;
    align-self: flex-end;
    background-color:  #e9a01a;
    color: #3e2723;
}
