.headerContainer {
    font-family: 'Kodchasan', sans-serif;
    box-shadow: 0 0 12px #505050; 
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
}

.headerLogo a {
    font-size: 30px;
    font-weight: bold;
    color: #464646;
    
}

.navigationLinks {
    display: flex;
}
.navigationLinks a {
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.navigationLinks a {
  
    text-decoration: none; 
    color: #464646;

    font-weight: bold;
    padding: 1rem;
    transition: background-color 0.3s ease; 
}

.navigationLinks a:hover {
    border-bottom: 3px solid #464646; 
}

.navigationLinks a:active {
    border-bottom: 3px solid #1f1f1f;
}

.headerUserInfo {
    display: flex;
}

.headerUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerUserName {
    font-weight: bold;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .headerUserName {
        display: none;
    }   

    .headerLogo a {
        margin-left: 2.3rem;
    }
    
    .headerUser img {
        display: none;
    }

    .navigationLinks span {
        display: none;
    }

   
}