.tuorStyleContainer {
    display: flex;
    flex-direction: column;
    width: 60%;
    align-items: center;
}

.tourTitle {
    margin-top: 2rem;
    display: flex;
    width: 70%;
}

.tourTitle h2 {
    color: #464646;
}

.tourTitle button {
    background-color: transparent;
    border: 0;
    margin-left: 1rem;
}

.tuorListStyle {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding-top: 1rem;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .tuorListStyle {
        padding-top: 0.3rem;
    }
    
}