.modalStyle {
    display: flex;
    flex-direction: column;
}

.buttonContainer{
    align-self: flex-end;
}

.formStyleContainer {
    padding: 1rem; 
    width: 600px;
}

.titleReservation {
    text-align: center;
}

.postContainer{
    margin-top: 2rem;
}

.informationPost {
    display: flex;
    width: 100%;
    margin-bottom: 1.3rem;
}

.informationPost h3 {
    width: 120px; 
    margin-right: 1rem;
    flex-shrink: 0; 
}

.disponibilityContainer {
    margin-top: 1.3rem;
}

.disponibility {
    display: flex;
    margin-top: 1rem;
}

.doReservationButtonStyle {
    background-color: #353535;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding:  1rem;
    margin-top: 0.5rem;
    cursor: pointer;
    width: 100%;
    margin-top: 2rem;
    transition: background-color 0.3s ease;
}

.doReservationButtonStyle:hover {
    background-color: #252525;
}

@media(max-width: 768px){
    .formStyleContainer {
       width: 80vw;
       margin: auto;
    }
}