.postItemContainer {
    display: flex;
    flex-direction: column;

    margin-top: 0.5rem;

    background-color: white ;
    border: 1px solid #bdbdbd;
    box-shadow: 0 0 12px rgba(128, 128, 128, 0.5);
    border-radius: 0.5rem;

    padding: 1rem;
    width: 100%;
}

.postItemHeader, .postItemUser {
    display: flex;

    justify-content: space-between;
    align-items: center;
}

.postItemUser {
    display: flex;
    justify-content: center;
}

.postItemUser p{
    margin-left: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}

.postItemTitle {
    margin: 1rem 0 1rem 0;
}

.postItemLegend p {
    text-justify: auto;
    color: #252525;
    margin-bottom: 2rem;
}

.disponibilityTitle {
    margin-bottom: 1rem;
  }
  
  .postItemDisponibility {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    display: inline-block; 
  }
  
  .postItemDisponibility .postItemDisponibilityContent {
    background-color: #464646;
    font-weight: bold;
    color: white;
    border-radius: 0.5rem;
    padding: 0.3rem 0.6rem;
    margin: 0.2rem;
    display: inline-block;
  }
.postItemImage {
    margin-top: 2rem;
    width: 100%;
    overflow: hidden;
    border-radius: 0.5rem;
}

.postItemImage img {
    width: 100%;
    border-radius: 0.5rem;
}

.postItemReaction {
    margin-top: 1rem;
    padding: 0.5rem 0 0.5rem 0;
    border-top: 1px solid rgb(194, 194, 194);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.postItemReactionNumber {
    display: flex;
    align-items: center;
}

.postItemReactionNumber p {
    font-weight: bold;
}
.postItemComment {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5rem;
    border-radius: 1rem;
    width: 80%;
    background-color: #d8d8d8;
}

.postItemReservation {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postItemReservation button {
    background-color:#464646;
    border-radius: 0.3rem;
    border: none;
    width: 100%;
    height: 40px;
    color: white;
    font-weight: bold;
    font-size: 1.3rem;
}

.postItemReservation button:hover {
    background-color: #252525;
}