.headerContainer {
    font-family: 'Kodchasan', sans-serif;
    box-shadow: 0 0 12px #838383; 
    align-items: center;
    justify-content: center;
}

.headerContent {
    display: flex;
    align-items: center;
    height: 5rem;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0 2rem;
}

.headerLogo a {
    font-size: 30px;
    font-weight: bold;
    color: #464646;
    margin-left: 2.3rem;
}

.headerUserInfo {
    display: flex;
}

.headerUser{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerUserName {
    font-weight: bold;
    margin: 1rem;
}

@media screen and (max-width: 768px) {
    .headerUserName {
        display: none;
    }   
    
    .headerUser img {
        display: none;
    }

   
}